<%= form_for(@newsitem) do |f| %>
  <% if @newsitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsitem.errors.count, "error") %> prohibited this newsitem from being saved:</h2>

      <ul>
      <% @newsitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :filetype_id %><br>
    <%= f.number_field :filetype_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :zone_id %><br>
    <%= f.number_field :zone_id %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :starting %><br>
    <%= f.date_select :starting %>
  </div>
  <div class="field">
    <%= f.label :ending %><br>
    <%= f.date_select :ending %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.number_field :staff_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
