<%= form_for(@newstype) do |f| %>
  <% if @newstype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newstype.errors.count, "error") %> prohibited this newstype from being saved:</h2>

      <ul>
      <% @newstype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :extension %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="field">
    <%= f.label :viewer %><br>
    <%= f.text_field :viewer %>
  </div>
  <div class="field">
    <%= f.label :jscript %><br>
    <%= f.text_field :jscript %>
  </div>
  <div class="field">
    <%= f.label :pretags %><br>
    <%= f.text_field :pretags %>
  </div>
  <div class="field">
    <%= f.label :posttags %><br>
    <%= f.text_field :posttags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
