<h1>Listing newstypes</h1>

<table>
  <thead>
    <tr>
      <th>Extension</th>
      <th>Viewer</th>
      <th>Jscript</th>
      <th>Pretags</th>
      <th>Posttags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newstypes.each do |newstype| %>
      <tr>
        <td><%= newstype.extension %></td>
        <td><%= newstype.viewer %></td>
        <td><%= newstype.jscript %></td>
        <td><%= newstype.pretags %></td>
        <td><%= newstype.posttags %></td>
        <td><%= link_to 'Show', newstype %></td>
        <td><%= link_to 'Edit', edit_newstype_path(newstype) %></td>
        <td><%= link_to 'Destroy', newstype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newstype', new_newstype_path %>
